doctype html
html(lang='' ng-app="WebControlApp")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        base(href="/")
        title WebControl | {{ title }}

        each css in assets.css
            link(href=css rel="stylesheet" type="text/css")

        <!--[if lt IE 9]>
        script(src="bower_components/html5shiv/dist/html5shiv.min.js")
        script(src="bower_components/respond/dest/respond.min.js")
        <![endif]-->
    body
        nav.navbar.navbar-static.navbar-inverse.navbar-fixed-top
            .container-fluid
                .navbar-header
                    button.navbar-toggle.toggle-left.hidden-md.hidden-lg(type='button', data-toggle='sidebar', data-target='.sidebar-left')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') WebControl

        .container-fluid
            .row
                .col-xs-6.col-sm-2.col-md-2.sidebar.sidebar-left.sidebar-animate.sidebar-md-show
                    ul.nav.nav-menu
                        //- li.search
                        //-     form
                        //-         input(type="text" placeholder="Buscar")
                        //-         button(type="submit")
                        //-             span.fa.fa-search
                        li.divider
                        //- li
                        //-     a(ui-sref="dashboard" ui-sref-active="active")
                        //-         span.fa.fa-home
                        //-         | Dashboard
                        li
                            a(ui-sref="firewall" ui-sref-active="active")
                                span.fa.fa-server
                                | Firewall
                            //- ul.nav.nav-menu
                                li
                                    a(ui-sref="firewall") Blacklist
                        li
                            a(href="javascript:void(0);")
                                span.fa.fa-cogs
                                | Configurações
                            ul.nav.nav-menu
                                li
                                    a(ui-sref="users" ui-sref-active="active") Usuários
                                //- li
                                    a(ui-sref="servers" ui-sref-active="active") Servidores

                .main.col-md-10.col-md-offset-2
                    .page-heading
                        .container-fluid
                            //- ol.breadcrumb
                            //-     li
                            //-         a(href="#") Home
                            //-     li
                            //-         a(href="#") Library
                            //-     li.active Data

                            h1 {{ title }}
                            hr

                    div(ui-view)

        each js in assets.js
            script(src=js type="text/javascript")